/*------------------------------GENERAL CSS STYLES---------------------------*/
body {
  background-color: rgb(61,93,152);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation-name: bg;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  height: 100%;
}

@keyframes bg {
  0%   {background-image: url("images/abascal.png");}
  25%  {background-image: url("images/sanchez.png");}
  50%  {background-image: url("images/casado.png");}
  75% {background-image: url("images/iglesias.png");}
  100% {background-image: url("images/abascal.png");}
}
/*------------------------------MAIN PAGE CSS STYLES-------------------------*/
.App {
  height: 100vh;
  width: 50%;
  text-align: center;
  margin: auto;
  display: flex;
}

.Title {
  flex: 1;
  align-self: center;
}

.Centered {
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  padding: 10px;
}

@font-face {
  font-family: "Great Vibes";
  src: url("fonts/GreatVibes-Regular.otf");
}

#main_Quote {
  font-family: "Great Vibes";
  font-size: 35px;
  margin-bottom: 0.5vh;
}

#author {
  font-family: "Great Vibes";
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 1vh;
  margin-left: 4vw;
  text-align: left;
}

#Logo {
  margin: 2%;
}

/*------------------------------DATA PAGE CSS STYLES-------------------------*/
.AppData {
  height: 75vh;
  padding-top:2%;
  width: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.PolUl {
  padding-right: 0px;
  overflow-y: scroll;
  height: 100%;
  margin: auto;
  flex:1;
  margin-right: 2.5%;
  list-style-type: none;
  padding-left: 0px;
}

.Pol{
  background-color: rgba(200,200,200,0.33);
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 1px black solid;
}

.Pol:hover{
  background-color: rgba(255,255,255,1);
  transition: 0.3s;
}
.Pol:active{
  background-color: rgba(90,90,90,1);
  color: white;
}

.PolDiv {
  flex: 2;
  height: 100%;
  margin:auto;
  background-color: rgba(255,255,255,0.8);
}

.PolPic {

}

.LogoPic {
  width: 50%;
}

/*------------------------------SIM PAGE CSS STYLES-------------------------*/
.AppSim {
  height: 150vh;
  padding-top:2%;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(61,93,152)
}
.SimWin {
  margin-top:1%;
  margin-bottom: 1%;
  height: 450px;
  background-color: rgb(61,93,152);
  align: center;
  align-self: center;
}
.Graph {
  margin-top:1%;
  margin-bottom: 1%;
  height: 450px;
  height: 100%;
  background-color: rgb(61,93,152);
}
.CongImg {
  height: 100%
}

.SimDisplay {
  width: 60%;
  height: 105vh;
  background-color: rgb(255,255,255);
  margin-top: 1%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BarNo {
  background-color: red;
  border: 2px solid black;
  height: 3vh;
  width: 90%;
  margin-top: 1.5%
}
.BarYes {
  background-color: #00FF7F;
  height: 3vh;
  width: 45%;
}

.VoteNum {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
}

.Yes {
  align-self: flex-start;
}

.Abs {
  align-self: center;
}

.No {
  align-self: flex-end;
}

.Buttons {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.PartyButton {
  width: 25%;
  margin-bottom: 10%;

}

@media (max-width: 767px)
.selec-partidos:before, .selec-partidos:after, .selec-partidos p.select-leyend:before {
    display: block;
}
@media (max-width: 999px)
.selec-partidos:before, .selec-partidos:after, .selec-partidos p.select-leyend:before {
    display: none;
}

.selec-partidos {
    margin: 40px auto 30px;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    text-align: center;
}

.estirar {
    display: block;
}
.selec-partidos:before {
    width: 0px;
    height: 90%;
    border-left: 1px dotted rgba(0,0,0,1);
    position: absolute;
    left: 50%;
    top: 35px;
    display: block;
    content: '';
    transform: translateX(-50%);
}

.partido {
    width: 100%;
    margin-bottom: 25px;
}
.partido .decision {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    font-size: 16px;
    color: rgba(0,0,0,0.53);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    padding: 0 5px;
    width: 30px;
}
.contenedor-partido {
    max-width: 240px;
}
.contenedor-partido {
    height: 20px;
}
.contenedor-partido {
    width: 95%;
    margin: 0 auto;
    height: 30px;
    background: #F0F0F0;
    max-width: 200px;
    border-radius: 20px;
    display: inline-block;
}
#draggable-pp {
    background: #0055A7;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}
.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.draggable {
    width: 70px;
    height: 70px;
    padding: 0.5em;
    float: left;
    margin: 0 10px 10px 0;
    background: #cdcdcd;
    border-radius: 50%;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    border: none !important;
}
.draggable:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    content: "";
    z-index: 1;
    border-radius: 50%;
    opacity: 0.8;
}
#draggable-pp:after {
    background: url(./images/abascal.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.partido .decision {
    margin-top: -3px;
}
.partido .decision {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    font-size: 16px;
    color: rgba(0,0,0,0.53);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    padding: 0 5px;
    width: 30px;
}



/*------------------------------MANAGE CSS STYLES-------------------------*/

.AppManage {
  height: 75vh;
  padding-top:2%;
  margin-top: 2%;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,0.3)

}

.ManageLinkDiv {
  list-style: none;
  display: flex;
  flex-direction: row;

  width: 100%;
}

.ManageLink {
  display: inline-block;
  margin-bottom: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-decoration: none;
  background-color: rgba(255, 255, 225, 0.8);
  padding: 1%;
  flex: 1;
  box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.CreateForm {
  width: 65%;
  background-color: rgba(200,200,200,0.67);
  height: 100%;
  margin-bottom: 2vh;
  padding: 1%;
  border: 2px solid gray;
}

.TextInput {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 60%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.Law {
  resize: horizontal;
  height: 42vh;
  width: 75%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.Label {
  font-weight: bold;
}

.SelectDel {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 5%;
  margin-top: 25%
}

.DelButton {
  background-color: #ff9999;
  color: black;
  border: 2px solid #ff0000;
  padding: 2%;
  font-weight: bold;
  width: 60%
}
/*------------------------------LINKLIST CSS STYLES-------------------------*/

.Linklist {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Link {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1%;
  flex: 1;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.LinklistData {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.LinkData {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  flex: 1;
  align-self: space-between;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.LinklistSim {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.LinkSim {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  flex: 1;
  align-self: space-between;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,0.5);
}
